
/* Configuración General */
* {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0px;
    padding: 0px;
}
.container {
    width: 100%;
    overflow: hidden;
}
.img1 {
    width: 100%;
}
.p1 {
    display: inline-block;
    width: fit-content;
}

/* --- Header --- */
header {
    width: 1000px;
    margin: auto;
}
#fig-header {
    display: inline-block;
    width: 20%;
    overflow: hidden;
}
#div-header {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 79%;
}
#div-header > div {
    margin: 5px;
    padding: 5px;
}
#menu {
    text-align: center;
}
#menu li {
    display: inline-block;
    margin: 0px 40px 0px 40px;
    padding: 10px;
}
#menu ul {
    text-align: center;
    position: absolute;
}
#menu ul li {
    display: block;
}
#menu1 {
    display: none;
}
#li1:hover #menu1 {
    display: block;
}
#menu2 {
    display: none;
}
#li2:hover #menu2 {
    display: block;
}

/* --- Figmotion --- */
.Div1 {
    z-index: -1;
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
}
.Div2 {
    position: relative;
}
.Fig1 {
    position: relative;
    height: 300px;
}
.Fig2 {
    display: inline-block;
    position: relative;
    width: 17%;
    margin: 10px auto 10px auto;
    border: 10px solid black;
}
.Img1 {
    width: 100%;
    height: 300px;
    z-index: -10;
}
.Img2 {
    height: 80px;
}
.anterior {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 7%;
    z-index: 10;
}
.anterior div {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 99%;
    background: linear-gradient(90deg, black 0%, rgba(255, 255, 255, 0) 100%);
}
.anterior:hover div {
    visibility: visible;
}
.siguiente {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 7%;
    z-index: 10;
}
.siguiente div {
    visibility: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 99%;
    background: linear-gradient(270deg, black 0%, rgba(255, 255, 255, 0) 100%);
}
.siguiente:hover div {
    visibility: visible;
}


/* --- Main --- */
main {
    width: 1000px;
    margin: auto;
}
#div-main {
    display: inline-block;
    width: 70%;
}
#div-main  div {
    padding: 10px;
}
#fig-main {
    display: inline-block;
    width: 29%;
}

/* --- Footer --- */
footer {
    width: 1000px;
    margin: auto;
}
#fig-footer1 {
    display: inline-block;
    width: 10%;
}
#div-footer {
    display: inline-block;
    width: 60%;
}
#fig-footer2 {
    display: inline-block;
    width: 27%;
}
.img2 {
    width: 11%;
}