
body {
    background-color: darkred;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div {
    width: 90%;
    margin: auto;
    background-color: black;
/*     background: url(../Img/dark-background.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed; */
    text-align: center;
    padding: 10px;
}
mark {
    text-shadow: 1px 1px 5px;
    background: linear-gradient(to top, #ff0000 0%, #ffe600 100%);
    border-radius: 5%;
    padding: 5px;
}
h1 {
    text-transform: uppercase;
    background-size: auto;
    background: rgba(128, 128, 128, 0.2 )
}
h2 {
    background-size: auto;
    border-top: 3px dotted #ff0000;
    border-bottom: 3px dotted #ff0000;
}
h3 {
    background-size: auto;
    border-top: 3px dotted #ff0000;
    border-bottom: 3px dotted #ff0000;
}
hr {
    width: 20%;
    border: 0px solid goldenrod;
    height: 7px;
    background: radial-gradient(ellipse, goldenrod 40%, black 60%)
}
p {
    display: block;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 10px;
}
strong {
    color: rgba(126, 252, 0, 0.8);
}
i {
    color: rgba(126, 252, 0, 0.8);
}
em {
    color: rgba(126, 252, 0, 0.8);
}
b {
    color: lime;
}
ins {
    text-decoration: underline blue;
}
del {
    text-decoration: line-through blue;
}
s {
    text-decoration: line-through blue;
}
sup {
    color: blue
}
q {
    quotes: '<<' '>>' '<' '>';
}
abbr {
    border: 1px solid goldenrod;
    padding: 1px
}