body {
    text-align: center;
    margin: auto;
}
a.a1:visited {
    background-color: black;
    color: red;
    margin: 10px;
    padding: 10px;
    border: 10px solid gray;
}
a.a1:active {
    background-color: black;
    color: orange;
    margin: 10px;
    padding: 10px;
    border: 10px solid gray;
}
a.a1:hover {
    background: black;
    color: green;
    margin: 10px;
    padding: 10px;
    border: 10px solid gray;
}
.active {
    background-color: black;
    color: orange;
    margin: 10px;
    padding: 10px;
    border: 10px solid gray;
}