/* Título */
main {
    background-color: rgb(240, 240, 240);
}
h1 {
    text-align: center;
}
/* Contenedor de ambos inicios de sesión y el símbolo O  */
.p1 {
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
/* Facebook, Twitter, Google+ */
.h1 {
    display: flex;
    margin: 12px;
    padding: 10px;
    flex-direction: column;
    width: 40%;
}
.h1>a {
    padding: 12px;
    padding-left: 60px;
    margin: 6px;
    position: relative;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}
img {
    position: absolute;
    top: 5px;
    left: 5px;
}
.a1 {
    background-color: blue;
}
.a2 {
    background-color: lightblue;
}
.a3 {
    background-color: orangered;
}
/* Divisor con O */
.h2 {
    justify-content: center;
    margin: 12px;
    text-align: center;
    vertical-align: middle;
    overflow: visible;
    width: 0px;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
}
b {
    position: absolute;
    left: calc(50% - 19px);
    top: calc(50% - 19px);
    background-color: white;
    padding: 12px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: visible;
}
span {
    display: none;
}
/* Formulario de inicio de sesión */
.h3 {
    display: flex;
    margin: 12px;
    padding: 10px;
    flex-direction: column;
    width: 40%;
}
input {
    padding: 11.5px;
    margin: 6px;
    border-radius: 4px;
}
input[type=submit] {
    background-color: rgb(82, 189, 82);
    color: white;
}
/* Footer */
footer {
    background-color: grey;
    text-align: center;
}
footer>a {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    margin: 1px;
    padding: 30px;
}
/* Media */
@media (max-width:700px) {
    .p1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .h1 {
        width: 100%;
    }
    .h2 {
        width: 100%;
        border: none;
    }
    b {
        border: none;
        left: calc(50% - 110px);
    }
    span {
        display: inline;
    }
    .h3 {
        width: 100%;
    }
}